/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php
.env.*.php
.env.php
.DS_Store
Thumbs.db
resources/assets/.sass-cache
resources/assets/bower_components
resources/assets/node_modules
public/css/style.min.css
public/css/style.min.css.map
resources/assets/js/bundle.js
public/js/bundle.min.js