body {
	text-align: center;
	font-family: $font-text;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2em;
	
	@media #{$medium-up} {
		font-size: 20px;			
	}
}

section,
footer {
	padding: 30px 0;
	
	@media #{$medium-up} {
		padding: 60px 0;			
	}
		
	p {
		margin: 0 0 1.5em 0;
	}
}

.vertical-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}