footer {
	background: $gray-darker;
	color: white;
	padding-bottom: 20px;
	
	a {
		color: white;
		text-decoration: none;
		
		&.with-logo {
			display: inline-block;
			
			&:hover {
				opacity: .8;
			}
			
			img {
				width: 100%;
				max-width: 38px;
				//height: 32px;
				margin: auto;
				display: block;
				
				@media #{$medium-up} {
					max-width: 60px;	
					//height: 68px;
				}
				
				@media #{$large-up} {
					max-width: 80px;	
				}
			}
			
			span {
				display: block;
				font-size: 11px;
				margin: 1em 0 2em 0;
				
				@media #{$medium-up} {
					font-size: 20px;			
				}
			}
		}
	}
	
	ul {
		margin: 0 0 2.5em 0;
		padding: 0;
		text-align: center;
		list-style: none;
		font-size: 9px;
		display: inline-block;
		
		@media #{$medium-up} {
			font-size: 20px;			
		}
		
		li {
			float: left;
			padding: 0 4px;
			border-right: 1px solid white;
			line-height: 1em;
			
			&:last-child {
				border: none;
			}
			
			@media #{$large-up} {
				padding: 0 10px;			
			}
		}
	}
	
	.copyline {
		color: $gray-dark;
		font-size: 9px;
		margin: 0;
		
		@media #{$medium-up} {
			font-size: 14px;			
		}
	}
	
	a.container-s {
		
		img {
			margin-top: 7px;
			
			@media #{$medium-up} {
				    margin-top: 11px;		
			}	
		}
	}
}

