header {
	height: 100vh;
	background: url(#{$imgs-path}bg-header.jpg) center center no-repeat;
	background-size: cover;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .2);
	}
	
	img {
		
		@media #{$medium-up} {
			width: 350px;			
		}
		
		@media #{$large-up} {
			width: 250px;	
		}
	}
	
	h1 {
		text-transform: uppercase;
		font-family: $font-header;
		font-size: 18px;
		line-height: 1.2em;
		margin: 60px auto 0 auto;
		color: $gray;
		max-width: 290px;
		font-weight: 600;
		
		@media #{$medium-up} {
			font-size: 30px;
			max-width: 490px;			
		}
	}
	
	.github {
		position: absolute;
		top: 35px;
		right: 45px;		
		text-indent: -9999px;
		background: url(#{$imgs-path}logos/header-github.svg) center center no-repeat;
		background-size: cover;
		
		@media #{$medium-up} {
			width: 70px;
			height: 80px;		
		}
	}
	
	.repository {
		position: absolute;
		top: 35px;
		left: 45px;
		text-indent: -9999px;
		
		@media #{$medium-up} {
			width: 70px;
			height: 81px;
			background: url(#{$imgs-path}logos/header-repository-mediumup.svg) center center no-repeat;		
			background-size: cover;	
		}
		
		@media #{$large-up} {
			width: 253px;
			height: 70px;
			background: url(#{$imgs-path}logos/header-repository-largeup.svg) center center no-repeat;		
			background-size: cover;	
		}
	}
}