body, html, .wrapper, .container {
	height: 100%;
}

.rtp-table {
	width: 100%;
}

.site-thumb {
	background: $gray;
	min-height: 150px;
	padding: 30px;
	position: relative;
	color: #FCFCFC;
	text-align: center;
	margin-bottom: 30px;
	
	img {
		width: 244px;
		height: 296px;
		display: block;
	}
	
	&:hover {
		
		.controls {
			opacity: 1;
		}
	}
	
	.controls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(48, 246, 138, .9);
		opacity: 0;
		 -webkit-transition: all .2s ease-in-out;
		  -moz-transition: all .2s ease-in-out;
		  -o-transition: all .2s ease-in-out;
		  transition: all .2s ease-in-out;
	}
	
	ul {
		margin: 0 0 40px 0;
		padding-top: 60px;
		
		li {
			display: inline-block;
			list-style: none;
			margin: 0 4px;
			
			a {
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid #FCFCFC;
				color: #FCFCFC;
				font-size: 50px;
				line-height: 35px;
			}
		}
	}
	
	p {
		margin: 0;
		font-size: 12px;
		color: #737373;
		
		b {
			display: block;
		}
	}
}