// Import Bourbon

@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Import Normalize

@import "../../bower_components/foundation/scss/normalize";

// Import Foundation

@import "../foundation-settings";

@import
//  "../../bower_components/foundation/scss/foundation/components/accordion",
//  "../../bower_components/foundation/scss/foundation/components/alert-boxes",
//	"../../bower_components/foundation/scss/foundation/components/block-grid",
//  "../../bower_components/foundation/scss/foundation/components/breadcrumbs",
//  "../../bower_components/foundation/scss/foundation/components/button-groups",
//  "../../bower_components/foundation/scss/foundation/components/buttons",
//  "../../bower_components/foundation/scss/foundation/components/clearing",
//  "../../bower_components/foundation/scss/foundation/components/dropdown",
//  "../../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//	"../../bower_components/foundation/scss/foundation/components/flex-video",
//  "../../bower_components/foundation/scss/foundation/components/forms",
	"../../bower_components/foundation/scss/foundation/components/global",
	"../../bower_components/foundation/scss/foundation/components/grid",
//  "../../bower_components/foundation/scss/foundation/components/inline-lists",
//  "../../bower_components/foundation/scss/foundation/components/joyride",
//  "../../bower_components/foundation/scss/foundation/components/keystrokes",
//  "../../bower_components/foundation/scss/foundation/components/labels",
//  "../../bower_components/foundation/scss/foundation/components/magellan",
//  "../../bower_components/foundation/scss/foundation/components/orbit",
//  "../../bower_components/foundation/scss/foundation/components/pagination",
//  "../../bower_components/foundation/scss/foundation/components/panels",
//  "../../bower_components/foundation/scss/foundation/components/pricing-tables",
//  "../../bower_components/foundation/scss/foundation/components/progress-bars",
//  "../../bower_components/foundation/scss/foundation/components/reveal",
//  "../../bower_components/foundation/scss/foundation/components/side-nav",
//  "../../bower_components/foundation/scss/foundation/components/split-buttons",
//  "../../bower_components/foundation/scss/foundation/components/sub-nav",
//  "../../bower_components/foundation/scss/foundation/components/switches",
//  "../../bower_components/foundation/scss/foundation/components/tables",
//  "../../bower_components/foundation/scss/foundation/components/tabs",
//  "../../bower_components/foundation/scss/foundation/components/thumbs",
//  "../../bower_components/foundation/scss/foundation/components/tooltips",
//  "../../bower_components/foundation/scss/foundation/components/top-bar",
//  "../../bower_components/foundation/scss/foundation/components/type",
//	"../../bower_components/foundation/scss/foundation/components/offcanvas",
	"../../bower_components/foundation/scss/foundation/components/visibility";

// App

@import "../sites/config"; 

/*
@import "base"; 

@import "elements/typography";
@import "elements/buttons";

@import "components/header";
@import "components/footer";

@import "sections/text";
@import "sections/list";
@import "sections/slideshow";
@import "sections/video";
*/

html, body, .wrapper, .container {
	height: 100%;
}

body {
	text-align: center;
	font-family: $font-text;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2em;
	
	@media #{$medium-up} {
		font-size: 20px;			
	}
}

header {
	background: #0cbcd3;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	height: 85px;
}

.site-list {
	margin-bottom: 20px;
	min-height: 100%;
	
	@media #{$large-up} {
		margin-bottom: 60px;	
	}
	
	.site {
		display: block;
		padding: 10px;
		//background: $gray-lighter;
		color: $gray-light;
		margin-bottom: 10px;
		position: relative;
		text-align: left;
		transition: background-color 0.5s ease;
		
		img {
			width: 70px;
			max-height: 70px;
			display: block;
			
			@media #{$medium-up} {
				width: 100px;
				max-height: 100px;			
			}
			
			@media #{$large-up} {
				width: 150px;
				max-height: 150px;	
			}
		}
		
		p {
			position: absolute;
			top: 10px;
			left: 90px;
			margin: 0;
			padding-right: 10px;
			font-size: 12px;
			
			@media #{$medium-up} {
				left: 120px;
				font-size: 13px;			
			}
			
			@media #{$large-up} {
				left: 160px;
				font-size: 15px;	
			}
			
			span {
				font-family: $font-header;
				font-weight: 600;
				font-size: 14px;
				display: block;
				color: black;
				text-transform: uppercase;
				line-height: 2em;
				
				@media #{$medium-up} {
					font-size: 15px;			
					font-size: 17px;
				}
			}
		}
		
		&:hover {
			background: $gray-lighter;
		}
	}	
}

@import "../sites/components/footer";

.repository {
	
	footer {
		padding: 20px 0;
	}
}