.list {
	background: $yellow;
	text-align: left;
	
	&.white {
		color: white;
		
		.inner {
			border-top: 3px solid white;
		}
	}
	
	&.black {
		color: black;
		
		.inner {
			border-top: 3px solid black;
		}
	}
	
	.inner {
		padding-top: 1.5em;
		
		@media #{$large-up} {
			max-width: 750px;
			margin: auto;	
		}
		
		&.no-border {
			border: none;
			padding-top: 0;
		}
	}
	
	img {
		width: 100%;
		max-width: 65px;
	}
}