.text {
	background: $orange;
	
	&.white {
		color: white;
		
		a {
			color: white;
		}
	}
	
	&.black {
		color: black;
		
		a {
			color: black;
			
			&.btn {
				@include rtp-button-black();
			}
		}
	}
	
	h2 {
		margin-bottom: 40px;
	}
	
	p a {
		text-decoration: none;
		font-style: italic;
	}
	
	a.btn {
		@include rtp-button();
		margin: 0 3px;
		
		@media #{$large-up} {
			margin: 0 13px;	
		}
	}
}