.text {
	background: $orange;
	color: white;
	
	h2 {
		margin-bottom: 40px;
	}
	
	p a {
		color: white;
		text-decoration: none;
		font-style: italic;
	}
	
	a.btn {
		@include rtp-button();
		margin: 0 3px;
		
		@media #{$large-up} {
			margin: 0 13px;	
		}
	}
}