@mixin rtp-button {
	display: inline-block;
	height: 40px;
	width: 136px;
	border: 3px solid white;
	line-height: 34px;
	padding: 0;
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	font-family: $font-header-bold;
	text-decoration: none;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, .1);
	
	&:hover {
		box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, .2);	
	}
	
	&:active {
		outline: 0;
	}
	
	&:focus {
		outline: 0;
	}
	
	@media #{$medium-up} {
		height: 76px;
		width: 246px;
		line-height: 70px;
		font-size: 22px;		
	}
}